$black: rgba(0, 0, 0, 1);
$dark: rgba(0, 0, 0, 0.7);
$light: rgba(255, 255, 255, 0.6);
$white: rgba(255, 255, 255, 1);
$gray: rgba(0,0,0,0.6);
$red: rgba(255, 0, 0, 1);
$aqua: rgba(0, 255, 255, 1);
$yellow: rgba(255, 255, 0, 1);
$font-bold: 'Berlin Sans FB Demi Bold';
$font-regular: 'Berlin Sans FB Regular';

%box {
  border-radius: 5px;
  padding: 10px;
}

.bold {
  font-family: $font-bold;
}

.align-l {
  text-align: left;
}

.align-ct {
  text-align: center;
}

.align-r {
  text-align: right;
}

.d-fl {
  display: flex
}

.d-fl-col {
  display: flex;
  flex-direction: column;
}

.fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-between {
  display: flex;
  justify-content: space-between;
}

.fl-around {
  display: flex;
  justify-content: space-around;
}

.box-black {
  @extend %box;
  background-color: $black;
  color: $white;
}

.box-dark {
  @extend %box;
  background-color: $dark;
  color: $white;
}

.box-gray {
  @extend %box;
  background-color: $gray;
  color: $white;
}

.box-white {
  @extend %box;
  background-color: $light;
  color: $black;
}